body{
    background-color: pink;
}

h1{
    color:purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(207, 95, 43);
}

p{
    color:aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #CD5C5C;
    font-size: 50px;
}